/* --------------------------------------------------- */
/* -------------------- Global CSS ------------------- */
/* --------------------------------------------------- */

/* ======================================================================== */
/* 1. Fonts */
/* ======================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Work+Sans:wght@100;200;300;400;600;700&display=swap");

/* ======================================================================== */
/* 2. CSS */
/* ======================================================================== */

:root {
	/* Primary */
	--ColorPrimary: #6496b0;
	--ColorPrimary-2: #96c2db;
	--ColorPrimary-3: #e5edf1;
	--ColorPrimary-4: #eef4f3;
	/* Whites */
	--ColorWhite: #ffffff;
	--ColorWhite-2: #fafafa;
	--ColorWhite-3: #f0f0f0;
	--ColorWhite-4: #e1e1e1;
	--ColorWhite-5: #e4e7e9;
	/* Blacks */
	--ColorBlack: #000000;
	--ColorBlack-2: #333333;
	--ColorBlack-3: #454647c8;
	--ColorBlack-4: #5e5f60;

	/* Fonts */
	--FontLora: "Lora", Georgia, serif;
	--FontBebas: "Bebas Neue", Arial, Helvetica, sans-serif;
	--FontWork: "Work Sans", Arial, Helvetica, sans-serif;

	/* Utils */
	--TransitionMain: all 0.3s linear;
	--TransitionFast: all 0.24s linear;
	--WidthMax: 1350px;
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style-type: none;
}
hr {
	border: none;
	border-top: 1px solid var(--ColorWhite-3);
}

/* ========= */
/* Globals */
/* ========= */
.margin-top-1p5rem {
	margin-top: 2rem;
}

/* ========= */
/* Pages */
/* ========= */
.section {
	height: 100%;
	padding: 3rem 0rem;
}
.section-center {
	width: 90%;
	margin: 0 auto;
}
.section .section-center .section-title {
	text-align: center;
	padding-bottom: 3rem;
}
.section .section-center .section-title span {
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 2px;
	color: var(--ColorBlack-3);
}
.section .section-center .section-title h2 {
	margin-top: 0.3rem;
	font-size: 2.2rem;
	font-weight: 300;
	letter-spacing: 1.2px;
	color: var(--ColorBlack-2);
}

/* ========= */
/* Buttons */
/* ========= */
.btn-white {
	outline: none;
	border: 1px solid var(--ColorBlack-2);
	border-radius: 0.2rem;
	padding: 0.375rem 0.75rem;
	background: transparent;
	font-family: var(--FontLora);
	color: var(--ColorBlack-2);
	text-transform: uppercase;
	font-weight: 200;
	font-size: 1.2rem;
	letter-spacing: 0.7px;
	cursor: pointer;
	transition: var(--TransitionMain);
}
.btn-white:hover {
	border-color: var(--ColorPrimary);
	background: var(--ColorPrimary);
	color: var(--ColorWhite);
}

.btn-fill-primary {
	outline: none;
	border: 1px solid var(--ColorPrimary);
	border-radius: 0.2rem;
	padding: 0.375rem 0.75rem;
	background: var(--ColorPrimary);
	font-family: var(--FontLora);
	color: var(--ColorWhite);
	text-transform: uppercase;
	font-weight: 200;
	font-size: 1.2rem;
	letter-spacing: 0.7px;
	cursor: pointer;
	transition: var(--TransitionMain);
}
.btn-fill-primary:hover {
	border-color: var(--ColorBlack-2);
	background: transparent;
	color: var(--ColorBlack-2);
}

/* ========= */
/* Forms */
/* ========= */
.form-container {
	width: 90%;
	margin: 0 auto;
	max-width: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 2vh;
}
.form-container .main-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.single-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.5rem;
}
.single-input label {
	font-family: var(--FontLora);
	color: var(--ColorBlack-2);
	font-weight: 500;
	font-size: 0.95rem;
	padding-left: 0.25rem;
	letter-spacing: 0.1rem;
	padding-bottom: 0.25rem;
}
.single-input input {
	border: 1px solid var(--ColorWhite-5);
	border-radius: 0.3rem;
	height: 2.7rem;
	padding-left: 0.7rem;
	font-size: 1rem;
}
.single-input input::placeholder {
	font-weight: 400;
	font-size: 0.9rem;
	letter-spacing: 0.09rem;
	opacity: 0.55;
}
.single-input input:focus {
	outline-color: var(--ColorPrimary);
}
/* Validation Error */
.single-input div {
	color: crimson;
	opacity: 0.75;
	margin-top: 0.3rem;
}

.single-textarea {
	display: flex;
	flex-direction: column;
}
.single-textarea label {
	color: var(--ColorBlack);
	font-weight: 700;
	font-size: 0.9rem;
	padding-left: 0.25rem;
}
.single-textarea textarea {
	resize: none;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	padding-left: 0.7rem;
	padding-top: 0.5rem;
}
.single-textarea textarea::placeholder {
	font-weight: 400;
	font-size: 0.9rem;
	opacity: 0.75;
}

/* ======================================================================== */
/* 3. Queries */
/* ======================================================================== */
/* 
::: Device Sizes ::: 
    768px
    980px
    1150px
  +
*/

@media screen and (min-width: 768px) {
	.section {
		padding-top: 5rem;
	}
	.section-center {
		width: 88%;
	}
}

@media screen and (min-width: 980px) {
	.section {
		padding-top: 9rem;
	}
}
