/* --------------------------------------------------- */
/* -------------------- Global CSS ------------------- */
/* --------------------------------------------------- */

/* ======================================================================== */
/* 1. Fonts */
/* ======================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Work+Sans:wght@100;200;300;400;600;700&display=swap");

/* ======================================================================== */
/* 2. CSS */
/* ======================================================================== */

:root {
	/* Colors */
	--ColorBlack: #000000;
	--ColorWhite: #ffffff;
	--ColorBlack-1: #030303;
	--ColorBlack-85: rgba(3, 3, 3, 0.85);
	--ColorBlack-7: rgba(3, 3, 3, 0.7);
	--ColorBlack-5: rgba(3, 3, 3, 0.5);
	--ColorBlack-35: rgba(3, 3, 3, 0.35);
	--ColorBlack-2: rgba(3, 3, 3, 0.2);
	--ColorBlackHover: #0c0c0c;
	--ColorPiel: #c79e88;
	--ColorPielService: #ebebeb;
	--ColorPielLight: #fafafa;
	--ColorPielLight-7: #fafafaab;
	--ColorFooterDivider: #505152;
	--ColorFooterGrey: #d6d6d6;
	--ColorFooterWhite: #dddddd;
	--ColorFooterWhiteOP: #f8f8f8c9;
	--ColorSocialIcons: #bebdbd;
	--ColorSemiCrimson: rgb(255, 24, 70);
	--ColorSearchInput: #dddddd83;
	/* Fonts */
	--FontLora: "Lora", Georgia, serif;
	--FontBebas: "Bebas Neue", Arial, Helvetica, sans-serif;
	--FontWork: "Work Sans", Arial, Helvetica, sans-serif;
	--FontColorDark: #181b20;
	--FontColorGrey: #656a70;
	/* Utils */
	--MainTransition: all 0.3s linear;
	--TransitionFast: all 0.24s linear;
	--ShadowLighter: 0px 3px 9px rgba(0, 0, 0, 0.05);
	--ShadowLight: 0px 3px 9px rgba(0, 0, 0, 0.1);
	--ShadowDark: 0px 3px 9px rgba(0, 0, 0, 0.23);
	--WidthMax: 1350px;
	--WidthFixed: 620px;
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style-type: none;
}
hr {
	border: none;
	border-top: 1px solid var(--ColorFooterDivider);
}
.section-center {
	width: 90%;
	margin: 0 auto;
}
.page-height100-desk {
	/* Nav: 10rem; Footer: 5rem */
	min-height: calc(100vh - 15rem);
}
.page-height100-mobile {
	/* Nav: 6rem; Footer: 5rem */
	min-height: calc(100vh - 11rem);
}
.btn-white {
	background: var(--ColorWhite);
	color: var(--ColorPiel);
	padding: 0.375rem 0.75rem;
	display: inline-block;
	font-family: var(--FontLora);
	font-weight: 200;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.7px;
	border-radius: 0.2rem;
	border-color: transparent;
	box-shadow: var(--ShadowDark);
	cursor: pointer;
	transition: var(--MainTransition);
}
.btn-white:hover {
	background: var(--ColorBlack-85);
	color: var(--ColorWhite);
}
.btn-fill {
	outline: none;
	font-family: var(--FontWork);
	font-size: 1.5rem;
	text-align: center;
	font-weight: 300;
	background: var(--ColorPiel);
	padding: 0.7rem 2.7rem;
	color: var(--ColorWhite);
	box-shadow: var(--ShadowLight);
	transition: var(--MainTransition);
}
.btn-fill:hover {
	box-shadow: var(--ShadowDark);
}

/* ======================================================================== */
/* 3. Queries */
/* ======================================================================== */
/* 
::: Device Sizes ::: 
    768px
    980px
    1150px
  +
*/
/* 
::: Nav and Footer Heights ::::
    Mobile: 10rem;
    768px: 11.3rem
    980px: 11.5rem;
*/
@media screen and (min-width: 768px) {
	.section-center {
		width: 88%;
	}
}
